@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnAccept {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: #E9510E;
        }

        #white-box {
            border: 1px solid grey;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
            /*box-shadow:rgba(0,0,0,0.25) 1.95px 10px;*/
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            border-radius: 8px;
            /*position: absolute;*/
            top: 0;
            bottom: 0;
            margin: auto;
            /*width: 450px;*/
        }

    </style>

    <link href='@Url.Content("~/css/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/css/style.css")' rel="stylesheet" type="text/css" />
</head>

<body class="homepage" style="overflow-x:hidden">
    <br />
    <div class="row" style="border-bottom:4px solid #E9510E">
        <div class="col-md-4">
            <img src="~/Images/Singapore_Food_Agency_logo.png" height="55" style="padding-left: 30px;" />
        </div>
        <div class="col-md-4" style="color: #E9510E;text-align:center;margin-left:2%">
            <h2>Visitor Pre- Registration</h2>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="white-box" style="margin-left:2%">
            <h3 style="color:#E9510E;text-align:center;">Create Account</h3>
            <br />

            <label class="form-label"> Name</label>
            <input type="text" id="form12" class="form-control use-keyboard-input">
            <br />
            <label class="form-label">NRIC/ Passport</label>
            <input type="text" class="form-control use-keyboard-input" id="visName" placeholder="" autocomplete="off" />
            <br />
            <label class="form-label">Mobile Phone No.</label>
            <input type="text" id="form12" class="form-control use-keyboard-input">
            <br />
            <label class="form-label">Email Address</label>
            <input type="text" id="form12" class="form-control use-keyboard-input">
            <br />
            <label class="form-label">Password</label>
            <input type="text" id="form12" class="form-control use-keyboard-input">
            <br />
            <div class="row" style="text-align:center">
                  <button id="btnSubmit" onclick="@("window.location.href='" + @Url.Action("PreRegistrationSuccess", "Home") + "'");" value="" style="border-radius: 8%;background-color:#E9510E;border-color:#E9510E;cursor: pointer;width:120px;text-align:center">
                <b style="color:white;">Submit </b>
            </button>
            </div>
          
            <br />
        </div>
        <div class="col-md-4"></div>
    </div>
</body>

</html>

